td_symbols {
    bindings = <
&kp BSPC        &td_1_0        &td_2_9          &td_3_8            &td_4_7       &td_5_6       &td_6_5       &td_7_4       &td_8_3         &td_9_2   &td_0_1   &td_bscp_grave
&kp RET         &trans         &trans           &trans             &td_fslh_bslh &td_lbkt_rbkt &td_rbkt_lbkt &td_bslh_fslh &td_equal_minus &trans    &kp GRAVE &kp LCTRL
&kp LSHFT       &trans         &trans           &trans             &trans        &trans        &trans        &trans        &trans          &trans    &trans    &kp RSHFT
                                                &td_to_0           &mo 5         &kp SPACE     &kp SPACE     &mo 5         &td_to_5
    >;
};
