#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define TD_TAPPING_TERM 150


/ {
    behaviors {
        #include "tapdances/mirrored.dtsi"
        mo_1_2: tap_dance_mo1 { compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>;
        };

        mo_9_1: tap_dance_mo1 { compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 9>, <&mo 1>;
        };
        mo_8_1: tap_dance_mo1 { compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 8>, <&mo 1>;
        };

        // These are just helpers to increment/decrement the layers.
        td_to_0: tap_dance_to_0 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 0>;
            };
        td_to_1: tap_dance_to_1 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 1>;
            };
        td_to_2: tap_dance_to_2 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 2>;
            };
        td_to_3: tap_dance_to_3 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 3>;
            };
        td_to_4: tap_dance_to_4 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 4>;
            };
        td_to_5: tap_dance_to_5 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 5>;
            };
        td_to_6: tap_dance_to_6 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 6>;
            };
        td_to_7: tap_dance_to_7 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to 7>;
            };

        td_to_8: tap_dance_to_8 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to *>;
            };
        td_to_9: tap_dance_to_9 {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                bindings = <&kp LGUI>, <&to *>;
            };
    };
    combos {
        compatible = "zmk,combos";
        timeout-ms = <50>; // How fast the keys must be pressed together
        combo_esc_left {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp ESC>;
        };
        combo_esc_right {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp ESC>;
        };
        toggle_nav_combo {
            timeout-ms = <50>;
            key-positions = <38 39>; // Replace with the indices of your two keys
            bindings = <&mo 7>;
        };
        /*
        combo_double_space_td {
            timeout-ms = <50>;
            key-positions = <38 39>;  // your two keys
            bindings = <&td_space>;   // triggers the tap dance
        };
        toggle_reverse_base_l {
            timeout-ms = <50>;
            key-positions = <37 38>; // Replace with the indices of your two keys
            bindings = <&mo 2>;
        };
        toggle_reverse_base_r {
            timeout-ms = <50>;
            key-positions = <39 40>; // Replace with the indices of your two keys
            bindings = <&mo 2>;
        };
        */
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <12 19>;
            bindings = <&kp BSPC>;
        };
        combo_base {
            timeout-ms = <50>;
            key-positions = <13 14 15 16>;
            bindings = <&to 0>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        #include "layers/base.dtsi"
        #include "layers/symbols.dtsi"

        #include "layers/r_base.dtsi"
        #include "layers/r_symbols.dtsi"
        #include "layers/qwerty.dtsi"

        #include "layers/td_base.dtsi"
        #include "layers/td_symbols.dtsi"
        #include "layers/navigation.dtsi"

        #include "layers/one_hand.dtsi"
    };
};
